<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>Add Product</title>
</head>
<body>
<div class="container mt-5">
    <h2 class="mb-4">Add Product</h2>
    <form th:action="@{/admin/save_product}" method="post" enctype="multipart/form-data">
        <div class="form-group">
            <label for="categories">Categories:</label>
            <input type="text" class="form-control" th:filed="*{categories}" id="categories" name="categories" required/>
        </div>

        <div class="form-group">
            <label for="name">Product Name:</label>
            <input type="text" class="form-control" th:filed="*{name}" id="name" name="name" required/>
        </div>

        <div class="form-group">
            <label for="price">Price:</label>
            <input type="number" class="form-control" th:filed="*{price}" id="price" name="price" required/>
        </div>

        <div class="form-group">
            <label for="priceSale">Sale Price:</label>
            <input type="number" class="form-control" th:filed="*{price_sale}" id="priceSale" name="priceSale"/>
        </div>

        <div class="form-group">
            <label for="description">Description:</label>
            <textarea class="form-control" id="description" th:filed="*{description}" name="description"></textarea>
        </div>

        <div class="form-group">
            <label for="unit">Unit:</label>
            <input type="text" class="form-control" th:filed="*{unit}" id="unit" name="unit" required/>
        </div>

        <div class="form-group">
            <label for="count">Count:</label>
            <input type="number" class="form-control" th:filed="*{count}" id="count" name="count" required/>
        </div>

        <div class="form-group">
            <label for="image">Image URL:</label>
            <input type="file" class="form-control" th:filed="*{image}" id="image" name="image" required/>
        </div>

        <button type="submit" class="btn btn-primary">Add Product</button>
    </form>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
